<!-- <textarea rows=6  [value]="newPost" #postInput></textarea> -->
<!-- Getting the value from input fields using reference -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
            type="text"
            matInput placeholder="Title"
            name="title"
            required
            minlength="3"
            [ngModel]="post?.title"
            #title="ngModel"
            />
            <mat-error *ngIf="title.invalid">Please enter the title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
            rows="6"
            matInput placeholder="Content"
            name="content"
            required
            minlength="10"
            [ngModel]="post?.content"
            #content="ngModel"
            ></textarea>
            <mat-error *ngIf="content.invalid">Please enter the content</mat-error>
        </mat-form-field>
        <button mat-raised-button  color="primary">Save Post</button>
  </form>
</mat-card>


