<!-- <textarea rows=6  [value]="newPost" #postInput></textarea> -->
<!-- Getting the value from input fields using reference -->
<mat-card>
  <mat-form-field>
    <input type="text" matInput placeholder="Enter Title..." [(ngModel)]="enteredTitle"/>
  </mat-form-field>
  <mat-form-field>
    <textarea rows="6" matInput placeholder="Enter Content.." [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button  color="primary" (click)="onAddPost()" [disabled]="!this.enteredContent || !this.enteredTitle">Save Post</button>
</mat-card>


